*{
	box-sizing: border-box;
}

.loader-container {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#loader {
    display: block;
    position: absolute;
    font-size: 0;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%) translateX(-50%);
  }

img {
    display: block;
    width: 100%;
    vertical-align: middle;
}
#wrapper{
	width: 100%;
	overflow: hidden;
  position: relative;
  padding: 0;
}


.form-inline .search-input{
  border:none;
  padding:3px;
}

.form-inline{
  border-bottom: 2px solid #c2c2c2;
  margin:0px 10px;

}

.main-nav button{
  position:absolute;
  right: 0px;
  top: 0px;
  border:none;
  height:40px;
  outline:none;
  text-align:center;
}

.navbar{
	background-color: #ffffff;
	padding: 0;
  min-height: 40px;
  box-shadow: 0px 1px 10px #999;
}

.main-nav a{
  color: #160d0b;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

.main-nav a:hover{
  color: #160d0b;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 3px solid #a25d4a;
}

.main-nav a.active{
  color: #160d0b;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 3px solid #a25d4a;

}

.navbar-toggler:focus{
  border: none;
  outline: none;
  align-items: center;
  
}
#navbarCollapse{
	background-color: white;
	padding:0px 10px;
  max-height: 250px;
  min-height: 40px;
  overflow: auto;
}

span.d-inline.float-right {
    padding: 8px;
    margin-left: -30px;
}
}
/*Products Dropdown*/

.fa-angle-down{
  padding: 0 6px;
}

.mt-mdropover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index:  1;
    position: fixed;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.drop:hover .mt-mdropover{
  opacity: 1;
  visibility: visible; 
}

.drop .mt-mdropover{
  pointer-events: none;
}


.drop:hover .mt-dropmenu{
  opacity: 1;
  visibility: visible;
}

.mt-dropmenu{
    top: 24px;
    z-index: 5;
    opacity: 0;
    left: -9999px;
    right: -9999px;
    padding: 30px 0 0;
    visibility: hidden;
    position: absolute;
}

.mt-dropmenu .mt-frame {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1100px;
    background: #fff;
    background-size: cover;
    padding: 30px 60px 20px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.mt-dropmenu .mt-frame .mt-f-box {
    overflow: hidden;
}

.mt-dropmenu .mt-col-3 {
    float: left;
    width: 23.3%;
}

.mt-dropmenu .sub-dropcont {
    overflow: hidden;
    margin: 0 0 31px;
}
.sub-dropcont .title a{
   font-size: 1rem;
   color: #1e1e1e;
   font-weight: 700;
   letter-spacing:0.5px;
   text-transform: uppercase;
   margin:0 0 4px; 
}
.sub-dropcont .title a:hover{
border: none;

}

.mt-dropmenu .sub-drop {
    overflow: hidden;
}

.mt-dropmenu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    text-transform: lowercase;
    }

.mt-dropmenu ul li {
    margin: 0 0 2px;
    text-transform: capitalize;
}

.mt-dropmenu ul li a {
    color: #757575;
    font: 300 0.9rem "Source Sans Pro", sans-serif;
}

.mt-dropmenu ul li a:hover{
   font: 300 0.9rem "Source Sans Pro", sans-serif ;
   outline: none;
   text-decoration: none;
   color: #f36437;
   border: none;
}

.mt-dropmenu .mt-col-3.promo {
    width: 30%;
    padding: 0 0 0 1.9%;
}


/*End of Dropdown*/

#myCarousel .carousel-item{
    text-align: center;
    max-height: 550px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.subscribe-letter{
	margin: 50px 10%;
	background-color:#5d4a41;
}

.fit-image{
width: 100%;
object-fit: cover;
height: 400px; /* only if you want fixed height */
}

.subscribe-heading{
	color:#b3aaa6;
	font-size: 2.4rem;
	font-weight: 400;
  font-family: 'Raleway';

}
.subscribe-box{
	margin: 10%;
}
.subscribe-text{
	color:#b3aaa6;
	font-size: 1.3rem;
	font-weight: 400;
	margin-top: 30px;
  font-family: 'Crimson'; 

}

.buttonInside{
	  position:relative;
	  margin-bottom:10px;
}

.buttonInside input{
  height:50px;
  width:100%;
  padding-left:20px;
  border-radius:50px;
  margin-top: 30px;
  border:none;
  outline:none;
}
input:focus{
	border: none;
}

.buttonInside > button{
  position:absolute;
  right: 0px;
  top: 0px;
  border:none;
  height:40px;
  outline:none;
  text-align:center;
}
.sub-button{
  background-color: #f36437;
  color: #ffffff;
  border-radius:50px;
  margin: 5px;
  font-size:1rem;
}
.sub-button:hover{
  color: #ffffff;
}

.buttonInside > button:hover{
  cursor:pointer;
}


.hidden{
	display: none;
}

.benefits{
  margin: 50px 10%;
  background-color: #ce907e33;
  padding:3%;
}

.benefits-icon{
  background-color:#ffffff;
  padding:15px;
  border-radius:100%;
  opacity: 0.8;
}

.benefits-box{
  padding:0 7%;
}

.benefits-single{
  padding:10px;
}


.benefits-main-text{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #a25d4a;
  font-family: 'Crimson';
}

.benefits-text{
  font-size:0.7rem;
  font-weight: 300;
  color: #a25d4a;
}

.product-swipe{
    margin: 40px 10%;
}

.mt-heading2 {
    color: #a0a0a0;
    margin: 0 0 12px;
    letter-spacing: 4px;
    padding: 0 0 0 12px;
    border-left: 9px solid #eeeeee;
    font: 700 14px/20px "Source Sans Pro", sans-serif;
}

.mt-heading2 .head {
    color: #3a3a3a;
    margin: 0 0 2px;
    letter-spacing: 0;
    font: 700 26px/30px "Montserrat", sans-serif;
}

.mt-heading2 p {
    margin: 0;
}


.fa-arrow-left:hover{
  padding:0.5rem 0.6rem;
  border-radius: 50%;
  background-color:#f36437;
} 
.fa-arrow-right:hover{
  padding:0.5rem 0.6rem;
  border-radius: 50%;
  background-color:#f36437;
}

.product-carousel{
  margin: 20px 10%;
}
.fa-arrow-left,.fa-arrow-right{
  color: white;
  padding:0.5rem 0.6rem;
  border-radius: 50%;
  background-color:#b3aaa6aa;
}

.product-swipe-icon{
  margin-top:30px;
}

.items .card{
  border: none;
}

.info-wrap{
  padding: 10px;
}

.title a{
  color: #757575;
  font-weight: 500;
  text-decoration: none;
}
.price-new{
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: Arial;
  font-weight: 600;
}
.slick-slide:focus{
  outline: none;
}

.items > [class*="col-"]{
  padding-left:0;
}

.title a:focus{
  outline: none;
}

.img-image{
width: 100%;
object-fit: cover;
height: 210px; /* only if you want fixed height */
}

.hero-product-image .product-banner-title {
    position: absolute;
    z-index: 99;
    top: 30px;
    left: 30px;
}

.product-display{
  margin: 20px 9%;
}

.product-display > [class*="col-"]{
  padding-left: 5px;
  padding-right: 5px;
}

.hero-product-image{
  margin-top:10px;
}

.product-banner-title h4 > a{
  color: #160d0b;
  font-size: 1.5rem;
  font-family: 'Raleway';
  font-weight: 700;
  text-decoration: none;

}


.product-banner-title h6{
  color: #160d0b;
  font-size: 1rem;
  font-family: Arial;
  font-weight: 500;
  text-decoration: none;

}

.product-banner-title h4 > a:hover{
  color: #a25d4a;
  font-size: 1.5rem;
  font-family: 'Raleway';
  font-weight: 700;
  text-decoration: none;

}


.product-banner-title h6:hover{
  color: #a25d4a;
  font-size: 1rem;
  font-family: Arial;
  font-weight: 500;
  text-decoration: none;

}

figure{
  margin-bottom: 0;
}

.nav-widget-1 {
    width: 33.3%;
    float: left;
}

.footer-back{
 background-color: #160d0b;
 padding: 5%;
}

.f-widget-heading{
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 15px;

}

.f-widget-nav li {
    overflow: hidden;
    display: block;
    margin: 0 0 15px;
}

.f-widget-nav a{
  color: #666;
}


.footer-back .f-widget-nav a:hover{
  color: #fff;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  border: none;
}

.social-network .item{
  display: inline-block;
  margin-right: 20px;
}

.social-network .item .fa{
  color: #666;
  font-size: 20px;
}

.social-network .item .fa:hover{
  color: #f36437;
  font-size: 22px;
}

/*Back to top*/

#back-top{
    bottom: 45px;
    z-index: 9;
    right: 25px;
    width: 50px;
    color: #fff;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    line-height: 47px;
    text-align: center;
    border-radius: 50px;
    background: #a25d4a;
  }

.fa-angle-down:before {
    content: "\f107";
}

.drop > a:after {
    width: 0;
    top: 100%;
    left: 50%;
    height: 0;
    opacity: 0;
    content: " ";
    visibility: hidden;
    margin-left: -13px;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 13px;
}

@media only screen and (max-width: 1199px){
.mt-dropmenu .mt-frame {
    max-width: 940px;
    padding: 30px 60px 20px;
}
}
@media only screen and (max-width: 991px){
.mt-dropmenu .mt-frame {
    max-width: 770px;
    padding: 10px 20px 5px;
}
}

@media only screen and (max-width: 767px){
 .mt-dropmenu.open {
    max-height: 999px;
}

.mt-dropmenu .mt-frame {
  max-width: 400px;
  padding: 5px 10px 5px;
  margin: 0;
 }

.mt-dropmenu {
    opacity: 1;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    position: static;
    visibility: visible;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.mt-dropmenu .mt-col-3 {
    float: none;
    width: 100%;
}
.mt-dropmenu .sub-dropcont {
    margin: 0 0 15px;
}
.mt-dropmenu .title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    pointer-events: auto;
}

.mt-dropmenu .title a:after {
    content: "\f107";
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: "FontAwesome";
}
.mt-dropmenu .promo {
    display: none;
}

.drop:hover .mt-mdropover{
  opacity: 0;
  visibility: hidden;
}

}

@media (max-width: 800px) {
 .fit-image{
width: 100%;
object-fit: cover;
height: 200px; /* only if you want fixed height */
}

.subscribe-heading{
	color:#b3aaa6;
	font-size: 1.5rem;
	font-weight: 400;
    font-family: 'Raleway'; 

}

.subscribe-letter{
	background-color:#5d4a41;
	margin: 20px 2%;
}

.subscribe-box{
	margin: 5%;
}
.subscribe-text{
	color:#b3aaa6;
	font-size: 0.8rem;
	font-weight: 400;
	margin-top: 10px; 
  font-family: 'Crimson'; 

}

.buttonInside{
	  position:relative;
	  margin-bottom:10px;
}

.buttonInside input{
  height:40px;
  width:100%;
  padding-left:20px;
  border-radius:50px;
  margin-top: 30px;
  border:none;
  outline:none;
}

.buttonInside button{
  position:absolute;
  right: 0px;
  top: 0px;
  border:none;
  height:30px;
  outline:none;
  text-align:center;
}
.btn{
  background-color: #f36437;
  color: #ffffff;
  border-radius:50px;
  padding: 0 10px;
  font-size:0.6rem;
}

.form-control{
	font-size: 0.8rem;
	font-weight: 300;
}

.benefits{
  margin: 30px 2%;
  background-color: #ce907e33;
  padding:3%;
  

}

.benefits-icon{
  background-color:#ffffff;
  padding:15px;
  border-radius:100%;
}

.benefits-box{
  padding:0 7%;
}

.benefits-single{
  padding:10px;
}

.benefits-main-text{
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #a25d4a;
  font-family: 'Crimson';
}

.benefits-text{
  font-size:0.6rem;
  font-weight: 300;
  color: #a25d4a;
}

.product-carousel{
  margin: 20px 2%;
}

.product-swipe{
  margin: 30px 2%;
}
.product-swipe-icon{
  margin-top:10px;
}
.fa-arrow-left,.fa-arrow-right{
  color: white;
  padding:0.3rem 0.4rem;
  border-radius: 50%;
  background-color:#b3aaa6aa;
}

.fa-arrow-left:hover{
  padding:0.3rem 0.4rem;
  border-radius: 50%;
  background-color:#f36437;
} 
.fa-arrow-right:hover{
 padding:0.3rem 0.4rem;
  border-radius: 50%;
  background-color:#f36437;
}


.mt-heading2 .head {
    color: #3a3a3a;
    margin: 0 0 2px;
    letter-spacing: 0;
    font: 700 15px/20px "Montserrat", sans-serif;
}

.mt-heading2 p{
  font-size: 10px;
  letter-spacing: 2px;
}

.col-xs-2.col-sm-2{
  padding:0px 5px;

}

.product-display{
  margin: 20px 0.5%;
}

.product-banner-title h4 > a{
  color: #160d0b;
  font-size: 1.2rem;
  font-family: 'Raleway';
  font-weight: 700;
  text-decoration: none;

}


.product-banner-title h6{
  color: #160d0b;
  font-size: 0.8rem;
  font-family: Arial;
  font-weight: 500;
  text-decoration: none;

}

.product-banner-title h4 > a:hover{
  color: #a25d4a;
  font-size: 1.2rem;
  font-family: 'Raleway';
  font-weight: 700;
  text-decoration: none;

}


.product-banner-title h6:hover{
  color: #a25d4a;
  font-size: 0.8rem;
  font-family: Arial;
  font-weight: 500;
  text-decoration: none;

}
.hero-product-image .product-banner-title {
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
}

.footer-back{
 background-color: #160d0b;
 padding:5% 2%;
}

.f-widget-heading{
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 10px;

}

.f-widget-nav li {
    overflow: hidden;
    display: block;
    margin: 0 0 8px;
}

.f-widget-nav li a {
  font-size: 12px;
}

.nav-wid-style {
  padding-left: 20px;
}

}

