*{
	box-sizing: border-box;
}

body{
    padding-top: 40px;
}
/*Preloader*/

.loader-container {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#loader {
    display: block;
    position: absolute;
    font-size: 0;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%) translateX(-50%);
  }

#loader img {
    display: block;
    width: 100%;
    vertical-align: middle;
}
#wrapper{
	width: 100%;
	overflow: hidden;
    position: relative;
    padding: 0;
}
/*
Navbar*/
.hidden{
  display: none;
}


.form-inline .search-input{
  border:none;
  padding:3px;
}

.form-inline{
  border-bottom: 2px solid #c2c2c2;
  margin:0px 10px;
}

.main-nav button{
  position:absolute;
  right: 0px;
  top: 0px;
  border:none;
  height:40px;
  outline:none;
  text-align:center;
}

.navbar{
  background-color: #ffffff;
  padding: 0;
  min-height: 40px;
  box-shadow: 0px 1px 10px #999;
}

.main-nav a{
  color: #160d0b;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

.main-nav a:hover{
  color: #160d0b;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 3px solid #a25d4a;
}

.main-nav a.active{
  color: #160d0b;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 3px solid #a25d4a;

}

.navbar-toggler:focus{
  border: none;
  outline: none;
  align-items: center;
  
}
#navbarCollapse{
  background-color: white;
  padding:0px 10px;
  max-height: 250px;
  min-height: 40px;
  overflow: auto;
}

span.d-inline.float-right {
    padding: 8px;
    margin-left: -30px;
}
}
/*Products Dropdown*/

.fa-angle-down{
  padding: 0 6px;
}

.mt-mdropover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index:  1;
    position: fixed;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.drop:hover .mt-mdropover{
  opacity: 1;
  visibility: visible; 
}

.drop .mt-mdropover{
  pointer-events: none;
}


.drop:hover .mt-dropmenu{
  opacity: 1;
  visibility: visible;
}

.mt-dropmenu{
    top: 24px;
    z-index: 5;
    opacity: 0;
    left: -9999px;
    right: -9999px;
    padding: 30px 0 0;
    visibility: hidden;
    position: absolute;
}

.mt-dropmenu .mt-frame {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1100px;
    background: #fff;
    background-size: cover;
    padding: 30px 60px 20px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.mt-dropmenu .mt-frame .mt-f-box {
    overflow: hidden;
}

.mt-dropmenu .mt-col-3 {
    float: left;
    width: 23.3%;
}

.mt-dropmenu .sub-dropcont {
    overflow: hidden;
    margin: 0 0 31px;
}
.sub-dropcont .title a{
   font-size: 1rem;
   color: #1e1e1e;
   font-weight: 700;
   letter-spacing:0.5px;
   text-transform: uppercase;
   margin:0 0 4px; 
}
.sub-dropcont .title a:hover{
border: none;

}

.mt-dropmenu .sub-drop {
    overflow: hidden;
}

.mt-dropmenu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    text-transform: lowercase;
    }

.mt-dropmenu ul li {
    margin: 0 0 2px;
    text-transform: capitalize;
}

.mt-dropmenu ul li a {
    color: #757575;
    font: 300 0.9rem "Source Sans Pro", sans-serif;
}

.mt-dropmenu ul li a:hover{
   font: 300 0.9rem "Source Sans Pro", sans-serif ;
   outline: none;
   text-decoration: none;
   color: #f36437;
   border: none;
}

.mt-dropmenu .mt-col-3.promo {
    width: 30%;
    padding: 0 0 0 1.9%;
}


/*end nav*/

.nav-widget-1 {
    width: 33.3%;
    float: left;
}
/*End of nav bar*/

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/*Product Breadcrumb*/
.product-breadcrumb{
    padding: 15px 0px 15px;
    background-color: #f4f4f4;
}

.product-breadcrumb .breadcrumbs ul li{
  margin:0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.product-breadcrumb .breadcrumbs{
    font-size: 15px;
    line-height: 16px;
    font-weight: 300;
    overflow: hidden;
    color: #383838;
}

 .breadcrumbs ul .fa-angle-right {
    margin: 0 0 0 5px;
}
.product-breadcrumb .breadcrumbs ul a{
  color: #868686;
  text-decoration: none;
}
.product-breadcrumb .breadcrumbs ul a:hover{
  color: #f36437;
  text-decoration: none;
}
/*
product carousl*/
.related-product{
  text-align: center;
  font-size: 1.5rem;
  margin:50px 0px -30px;
  font-weight: 600;
  letter-spacing:1px;
}

.fa-arrow-left:hover{
  padding:0.5rem 0.6rem;
  border-radius: 50%;
  background-color:#f36437;
} 
.fa-arrow-right:hover{
  padding:0.5rem 0.6rem;
  border-radius: 50%;
  background-color:#f36437;
}

.fa-arrow-left,.fa-arrow-right{
  color: white;
  padding:0.5rem 0.6rem;
  border-radius: 50%;
  background-color:#b3aaa6aa;
}

.items .card{
  border: none;
}

.info-wrap{
  padding: 10px;
}

.title a{
  color: #757575;
  font-weight: 500;
  text-decoration: none;
}
.price-new{
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: Arial;
  font-weight: 600;
}
.slick-slide:focus{
  outline: none;
}
.slick-prev::before, .slick-next::before {
  color: #ccc !important;
   }

.slick-prev{  
 left: -20px !important;
 }
.slick-next{
 right: -20px !important;
}

.items > [class*="col-"]{
  padding-left:0;
}

.title a:focus{
  outline: none;
}

.img-image{
width: 100%;
object-fit: cover;
height: 210px; /* only if you want fixed height */
}



/*Footer
*/
.footer-back{
 background-color: #160d0b;
 padding: 5%;
}

.f-widget-heading{
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 15px;

}

.f-widget-nav li {
    overflow: hidden;
    display: block;
    margin: 0 0 15px;
}

.f-widget-nav a{
  color: #666;
}


.f-widget-nav a:hover{
  color: #fff;
  text-decoration: none;
  outline: none;
  font-weight: 400;
}

.social-network .item{
  display: inline-block;
  margin-right: 20px;
}

.social-network .item .fa{
  color: #666;
  font-size: 20px;
}

.social-network .item .fa:hover{
  color: #f36437;
  font-size: 22px;
}
.filter-widget{
    padding: 10px;
}
/*End of footer*/

#back-top{
    bottom: 45px;
    z-index: 9;
    right: 25px;
    width: 50px;
    color: #fff;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    line-height: 47px;
    text-align: center;
    border-radius: 50px;
    background: #a25d4a;
  }

#back-top > img{
  display: block;
}

/*Prd0uct Detail Wrapper*/
.product-detail-wrapper{
   margin: 30px auto;
}

.detail-header{
 font-weight: 600;
 font-size: 1.8rem;
}

.detail-price{
  font-weight: 500;
  font-size: 1.5rem;
  padding:8px 0px;
  color: #8c8c8c;
  letter-spacing: 1px;
  margin: 8px 0;
}

.detail-info{
  font-size: 1rem;
  font-weight:400; 
  margin: 10px 0;
}
/*Review*/
.comment-form-comment label {
    display: block;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 1.1rem;
}

.comment-form-comment .comment-notes {
    width: 100%;
    padding: 10px;
    border: 1px solid #cfcfcf;
    height: 140px;
}

.comment-notes:focus{
  outline: none;
}

.comment-form-author input:focus, .comment-form-email input:focus{
  outline: none;
}

.comment-form-comment{
    margin: 0 10px 20px 10px;

}

.comment-input {
    overflow: hidden;
}
.comment-form-author, .comment-form-email, .comment-form-url {
    float: left;
    padding: 0 10px;

}
.comment-input .comment-form-author, .comment-input .comment-form-email {
    width: 50%;
}

.comment-input label {
    display: block;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 1.1rem;
}

.comment-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cfcfcf;
    height: 40px;
}

.comment-form-submit .comment-submit {
    background: #5d4a41;
    color: #ffffff;
    border: none;
    padding: 8px 28px;
    margin-top: 20px;
    margin: 20px 0 0 10px;
}
/*Tabs*/
.nav-tabs .nav-link.active {

    color: #a25d4a;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #fff;
    border-color:#fff #fff;
    letter-spacing: 1px;
    border-bottom: 3px solid #a25d4a;
}
.nav-tabs .nav-link.active:hover{
    border-color:#fff #fff;
    border-bottom: 3px solid #a25d4a;
}
.nav-tabs .nav-link:hover{
    border: none;
}
.nav-tabs .nav-link{
  padding: 10px 50px;
}

.nav-tabs .nav-item button:focus{
  outline: none;
}

.nav-link{
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-tabs {
   border: none;
}

.tab-content{
  padding: 2rem 5rem;
}

.tab-pane{
  text-align: justify;
    font-size: 1rem;
  font-weight:400; 
}


@media (max-width: 800px) {

.footer-back{
 background-color: #160d0b;
 padding:5% 2%;
}

.f-widget-heading{
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 10px;

}
.f-widget-nav li {
    overflow: hidden;
    display: block;
    margin: 0 0 8px;
}

.f-widget-nav li a {
  font-size: 12px;
}

.nav-wid-style {
  padding-left: 20px;
}
/*Product detail*/


.zooming{
  padding:0;
  margin-top: -30px;
}

.detail-header{
 font-weight: 600;
 font-size: 1.5rem;
}

.detail-price{
  font-weight: 500;
  font-size: 1.2rem;
  padding:8px 0px;
  color: #8c8c8c;
  letter-spacing: 1px;
}

.detail-info{
  font-size: 0,9rem;
  font-weight:400; 
}

.slick-prev{  
 display: none !important;
 }
.slick-next{
display: none !important;
}


.related-product{
  text-align: center;
  font-size: 1.2rem;
  margin:50px 0px -30px;
  font-weight: 700;
  letter-spacing:1px;
}
/*
Reviews*/
.comment-input .comment-form-author, .comment-input .comment-form-email {
    width: 100%;
}
/*Tabs*/

.nav-tabs .nav-link.active {

    color: #a25d4a;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #fff;
    border-color:#fff #fff;
    letter-spacing: 1px;
    border-bottom: 3px solid #a25d4a;
}

.nav-tabs .nav-link{
  padding: 8px 15px;
}


.nav-link{
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.tab-content{
  padding: 1rem 1rem;
}
.tab-pane{

  font-size: 0.9rem;
  font-weight:400; 
}
}

@media only screen and (max-width: 1199px){
.mt-dropmenu .mt-frame {
    max-width: 940px;
    padding: 30px 60px 20px;
}
}
@media only screen and (max-width: 991px){
.mt-dropmenu .mt-frame {
    max-width: 770px;
    padding: 10px 20px 5px;
}
}

@media only screen and (max-width: 767px){
 .mt-dropmenu.open {
    max-height: 999px;
}

.mt-dropmenu .mt-frame {
  max-width: 400px;
  padding: 5px 10px 5px;
  margin: 0;
 }

.mt-dropmenu {
    opacity: 1;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    position: static;
    visibility: visible;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.mt-dropmenu .mt-col-3 {
    float: none;
    width: 100%;
}
.mt-dropmenu .sub-dropcont {
    margin: 0 0 15px;
}
.mt-dropmenu .title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    pointer-events: auto;
}

.mt-dropmenu .title a:after {
    content: "\f107";
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: "FontAwesome";
}
.mt-dropmenu .promo {
    display: none;
}

.drop:hover .mt-mdropover{
  opacity: 0;
  visibility: hidden;
}

}

@media screen and  (min-width: 768px){
  .product-detail-wrapper{
    width: 750px;}

}

@media screen and (min-width: 992px){
  .product-detail-wrapper{
    width: 970px;}
}


@media screen and (min-width: 1200px){
  .product-detail-wrapper{
    width: 1230px;}
}
/*End of media*/

.thumbnails{
  margin:20px 10px; 
}

.thumbnails li {
    float: left;
    padding: 5px;
}


.thumbnails-item{
  overflow: hidden;
  height: 100px;
}

.thumbnails-item img{
  height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

